<div class="text-layout">
  <h1>Decimal Pipe y Porcentaje</h1>
  <p>
    Pipes incluidos en Angular - Usualmente en el common module
  </p>
</div>

<div class="grid">
  <div class="col-4">
    <p-card header="Ventas Netas Pipe Number(decimal)"
            subheader="del presente año">
            <i class="pi pi-dollar"></i>
          {{ventasNetas + 1000000 | number:'1.2-2'}}
          </p-card>
  </div>
  <div class="col-4">
    <p-card header="Ventas Brutas Pipe Currency"
            subheader="del presente año">
            <ul>
              <li> {{ventasNetas + 2000000 | currency:'Eps.'}}</li>
              <li> {{ventasNetas + 2000000 | currency:'Ars.'}}</li>
            </ul>



          </p-card>
  </div>
  <div class="col-4">
    <p-card header="Ganancia Porcentual Pipe Percent"
            subheader="del presente año">
            <ul>
              <li> {{porcentaje | percent:'2.2'}}</li>
              <li> {{ventasNetas + 2000000 | currency:'Ars.'}}</li>
            </ul>



          </p-card>
  </div>

</div>
